<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>

    <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
