<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="task-description">
          <span class="badge badge-primary"><%= task.category_name %></span>
          <%= task.name %>
        </div>
        <div class="task-action">
          <%= link_to octicon("diff-added", height: 20), coins_path(task_id: task.id), method: :post %>
          <%= link_to octicon("diff-removed", height: 20), coins_path(task_id: task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to octicon("pencil", height: 20), edit_task_path(task) %>
          <%= link_to octicon("trashcan", height: 20, fill: "#dc3545"), task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </li>
  <% end %>
  <%= link_to 'New Task', new_task_path, class: "list-group-item list-group-item-action list-group-item-white disabled" %>
</ul>

<br>

